:root {
    --font-pri: "SVN-Gilroy";
    --font-sec: "Cormorant";
    --w-logo: 20rem;
    --size-hd-top: 3.5rem;
    --size-hd-center: 8.7rem;
    --size-hd-bot: 4rem;
    --hide-hd: calc(var(--size-hd-top) + var(--size-hd-center));
    --size-hd: calc(var(--size-hd-top) + var(--size-hd-center) + var(--size-hd-bot));
    --ss-pd: 5rem;
    --it-pd: 1.2rem;
    --ctn: 121.6rem;
    --re-ctn: calc((100vw - var(--ctn)) / 2);
    --re-ctn-2: calc(100vw - (100vw - var(--ctn)) / 2);

    // color
    --color-pri: #333333;
    --color-sec: #dedbbc;
    --color-text: #757575;
    --gray-1: #5f5f5f;
    --gray-2: #667085;
    --white: white;
    --black: #000000;
    --orange: #e79315;
    --brown: #9c8679;
    --rds-6: 0.6rem;
    --rds-8: 0.8rem;
    --rds-10: 1rem;
    --rds-12: 1.2rem;
    --rds-16: 1.6rem;
    --rds-20: 2rem;
    --rds-24: 2.4rem;
    --rds-100: 100rem;
    --filter-pri: brightness(0) saturate(0);
    --filter-white: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(107deg) brightness(105%) contrast(101%);
    --filter-black: brightness(0) saturate(100%);

    // cubic
    --cubic: cubic-bezier(0.72, 0.04, 0.49, 0.82);

    @media (max-width: 1340px) {
        --ctn: 115rem;
    }

    @media (max-width: 1199px) {
        --w-logo: 14rem;
        --size-hd-top: 5rem;
        --size-hd-center: 5rem;
        --size-hd-bot: 0rem;
        --size-hd: calc(var(--size-hd-top) + var(--size-hd-center) + var(--size-hd-bot));
        --ss-pd: 4rem;
        --it-pd: 0.8rem;
    }

    @media (max-width: 575px) {
        --it-pd: 0.6rem;
        --rds-8: 0.4rem;
        --rds-10: 0.5rem;
        --rds-12: 0.6rem;
        --rds-16: 0.8rem;
        --rds-20: 1rem;
        --rds-24: 1.2rem;
    }
}

// Responsive
$res-mobile-max: 1299px;
$res-mobile-min: 1201px;
$res-tablet-max: 1024px;
$res-tablet-min: 1025px;
$res-tablet-lg-max: 991px;
$res-tablet-lg-min: 992px;
$res-tablet-md-max: 767px;
$res-tablet-md-min: 768px;
$mobile-max: 575px;
$mobile-min: 576px;
$mobile-sm-max: 370px;
$mobile-sm-min: 371px;
