@use "../core/index" as *;

.ft {
    background-color: var(--color-pri);
    &-logo {
        --w-logo: 26rem;
        display: block;
        height: 100%;
        .custom-logo-link {
            display: flex;
            width: var(--w-logo);
            background-color: white;
            @include transition(0.4s, ease);

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                @include transition(0.4s, ease);
            }
        }
    }
    .col {
        &:nth-child(1) {
            width: calc(3 / 12 * 100%);

            @include max($res-tablet-lg-max) {
                width: 100%;
            }
        }

        &:nth-child(2) {
            width: calc(2 / 12 * 100%);

            @include max($res-tablet-lg-max) {
                width: calc(4 / 12 * 100%);
            }

            @include max($mobile-max) {
                width: 50%;
            }
        }

        &:nth-child(3) {
            width: calc(3 / 12 * 100%);

            @include max($res-tablet-lg-max) {
                width: calc(4 / 12 * 100%);
            }

            @include max($mobile-max) {
                width: 50%;
            }
        }

        &:nth-child(4) {
            width: calc(4 / 12 * 100%);

            @include max($res-tablet-lg-max) {
                width: calc(4 / 12 * 100%);
            }

            @include max($mobile-max) {
                width: 100%;
            }
        }
    }
}

.form-mail {
    height: 4rem;

    form {
        display: block;
        width: 100%;
        height: 100%;
    }

    .form-wrap {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 0.4rem;
    }

    input {
        font-size: 1.4rem;
        width: 100%;
        height: 100%;
        padding: 1rem;

        &::placeholder {
            color: #757575;
            font-size: 1.4rem;
        }
    }

    .btn-form {
        @include mid-flex;
        background-color: var(--color-pri);
        width: 30%;
        height: 100%;

        .txt {
            font-size: 1.4rem;
            font-weight: 500;
            text-transform: uppercase;
            color: white;
            padding-top: 0.5rem;
        }
    }
}

.content-info {
    @include flex-col;
    row-gap: 1.6rem;
    color: var(--color-white);

    .menu {
        &-list {
            @include flex-col;
            row-gap: 1.2rem;
        }

        &-item {
            @include hover() {
                .menu-link {
                    color: var(--color-sec);
                }
            }
        }

        &-link {
            @include transition(0.2s, ease);
        }
    }
}
